[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
pylint-flask-sqlalchemy = "*"
pylint-flask = "*"

[dev-packages]

[requires]
python_version = "3.9"
